Source: nagios-snmp-plugins
Section: net
Priority: optional
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper (>= 5), dpatch
Homepage: http://www.manubulon.com/nagios/index_snmp.html
Vcs-Browser: http://svn.debian.org/wsvn/pkg-nagios/nagios-snmp-plugins/
Vcs-Svn: svn://svn.debian.org/pkg-nagios/nagios-snmp-plugins/trunk/
Standards-Version: 3.8.4

Package: nagios-snmp-plugins
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libnet-snmp-perl, nagios-plugins-basic (>= 1.4.5-2), perl-base (>= 5.8.4-8), ucf
Description: SNMP Plugins for nagios
 A set of Nagios plugins to check hosts/devices using snmp protocol
