Source: nagios-snmp-plugins
Section: net
Priority: optional
Maintainer: Debian Nagios Maintainer Group <pkg-nagios-devel@lists.alioth.debian.org>
Uploaders: Jan Wagner <waja@cyconet.org>
Build-Depends: debhelper-compat (= 12)
Homepage: https://github.com/dnsmichi/manubulon-snmp
Vcs-Browser: https://salsa.debian.org/nagios-team/pkg-nagios-snmp-plugins
Vcs-Git: https://salsa.debian.org/nagios-team/pkg-nagios-snmp-plugins.git
Standards-Version: 4.3.0

Package: nagios-snmp-plugins
Architecture: all
Depends: libnet-snmp-perl,
         monitoring-plugins-common | nagios-plugins-basic (>= 1.4.5-2),
         perl-base (>= 5.8.4-8),
         ucf,
         ${misc:Depends},
         ${perl:Depends}
Recommends: libcrypt-des-perl, libcrypt-rijndael-perl
Description: SNMP Plugins for nagios
 A set of Nagios plugins to check hosts/devices using snmp protocol
 .
 The general idea of these scripts is to check as many things as possible with
 snmp (how do you install NRPE on Cisco or AS/400 ?) : disks, memory, load,
 interface, running procsses, etc...
 .
 The other idea is to select disks, interfaces, process using regular
 expressions
